extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          h1 How secure is your password?
          p.lead
            | Enter your password below to find out how long it would take a master hacker to crack.
          
          
          div(name='form1')
            input#password(placeholder='Password', name='password', type='password')
            
          p.lead
            a.btn.btn-lg#submit Submit
          p#result
            
            //- .input-group
            //-   input.form-control(name='password' type='password', placeholder='Enter Password')



      
      
